<div class="container">
  <div class="col-md-12">
    <h1>Signup Form</h1>
    <form [formGroup]="signUpForm" >
      <div class="form-group">
        <input type="text" placeholder="first name" formControlName= "firstName">
      </div>
      <div class="form-group">
        <input type="text" placeholder="last name" formControlName= "lastName">
      </div>
      <div class="form-group">
        <input type="email" placeholder="enter your email" formControlName= "email">
      </div>
      <div class="form-group">
        <input type="password"   maxlength="10" placeholder="enter your password" formControlName= "pass">
      </div>
      <button class="btn btn-primary" (click)="submitData()">submit</button>
    </form>
  </div>
</div>
